---
import Tags from "../components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <time datetime={frontmatter.pubDate.toISOString()}>
    {
      frontmatter.pubDate.toLocaleDateString("es-ES", {
        year: "numeric",
        month: "numeric",
        day: "numeric",
      })
    }
  </time>

  <p><em>{frontmatter.description}</em></p>
  <p>Escrito por: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
  <Tags tags={frontmatter.tags} />
</BaseLayout>
